@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    @apply bg-gray-900 text-white;
  }
  
  .light {
    @apply bg-white text-black;
  }

  #background {
    position: absolute;
    margin-top: 400px;
    top: 0;
    left: 0;
    z-index: -1; /* it stays behind the content */
    width: 100%; /* Full width of parent */
    height: 100%; /* Full height of parent */
    object-fit: cover; /* the image scales nicely */
    opacity: 1; 
  }

  #background-mobile {
    position: absolute;
    margin-top: 150px;
    top: 0;
    left: 0;
    z-index: -1; /* it stays behind the content */
    width: 100%; /* Full width of parent */
    height: 100%; /* Full height of parent */
    object-fit: cover; /* the image scales nicely */
    opacity: 1; 
  }